/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
body {
  background-color: #EBF9E7;
  text-align: center;
  color: black;
  font-family: "Droid Serif", serif;
  box-sizing: border-box;
  font-size: 16px; }

@media only screen and (max-width: 639px) {
  .row h1 {
    font-family: "Droid Serif", serif;
    font-size: 12px;
    color: #45B6B5;
    float: top;
    display: block;
    padding-top: 10px;
    background-color: #2A8F98;
    height: 20px; } }

@media only screen and (mix-width: 640px) and (max-width: 960px) {
  .row h1 {
    font-size: 15px;
    background-color: #EBF9E7;
    padding-top: 0px; } }

.nav {
  padding-top: 20px; }
  @media only screen and (max-width: 639px) {
    .nav {
      display: none; } }
  @media only screen and (mix-width: 640px) and (max-width: 960px) {
    .nav {
      display: show; } }

@media only screen and (mix-width: 640px) and (max-width: 960px) {
  .nav li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    color: black; } }

a {
  color: black;
  text-decoration: none;
  border-bottom: none; }

article {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  display: block;
  text-align: left; }

h2 a {
  font-size: 30px;
  padding-top: 20px;
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #2A8F98; }

h3 {
  color: #2A8F98;
  padding-top: 5px; }

h3 a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #2A8F98; }

@media only screen and (max-width: 639px) {
  aside {
    display: none; } }

@media only screen and (mix-width: 640px) and (max-width: 960px) {
  aside {
    display: block;
    float: left; }
    aside h4 {
      color: #2A8F98; } }

.left {
  display: none; }

@media only screen and (max-width: 639px) {
  article p {
    padding-top: 20px;
    line-height: 30px; } }

@media only screen and (mix-width: 640px) and (max-width: 960px) {
  article p {
    padding-top: 20px;
    line-height: 30px; } }

.footer_links {
  padding-top: 40px;
  border-top: 1px solid #2A8F98; }

.footer_links li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  color: black; }

@media only screen and (mix-width: 640px) and (max-width: 960px) {
  .read_more {
    display: block;
    max-width: 100%; } }
